NUXT_PUBLIC_ORGANIZATION_NAME="Waro Colombia"
NUXT_PUBLIC_WAROLABS_API_URL=http://localhost:4000
NUXT_BASE_URL=https://warocol.com
NUXT_API_KEY=your_api_key_here

# Google Tag Manager
NUXT_PUBLIC_GTM_CONTAINER_ID="GTM-XXXXXXX"